*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main{
  position: relative;
  width: 100;
  height: 100vh;
  
}
header{
  width: 100%;
  background: #061978;
  height: 100px;

}

nav{
  display: flex;
  width: 84%;
  margin: left;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}
.logo{

  height: 100px;
  width: 150px;
  object-fit: contain;
  mix-blend-mode:color-dodge;
  margin-left: 10px;
}

nav ul li{
  display:inline-block;
  list-style: none;
  margin: 40px 40px;
  margin-inline: 45px;
}
nav ul li a{
  text-decoration: none;
  color: #fafbf5e2;
  font-weight: bold;
}
h2{
  color: #f01b1b;
}

nav ul li a:hover{
  color: black;
}
.objective{
  background-image: url("5651990.webp");
  background-size:cover ;
  background-repeat: no-repeat;
  width: 100%;
 height:100%;
 display: absolute;

}
.content{
  position:relative;
  padding: 10%;
  margin-left:9%;

}
.objective h1{
  font-size: 50px;
  color: rgba(251, 245, 245, 0.555);
  margin-bottom: -5px;
}
span{
  color: #780641;
}
.objective p{
  color: #fefdf7dc;
  line-height: 22px;
}
.objective a{
  background: #212121 ;
  padding: 10px 18px;
  text-decoration: none;
  font-weight: bold;
  color: #ffffffb9;
  display: inline-block;
  margin: 30px 0;
  border-radius: 5px;
}
